table {
    width: 50%;
}

td {
    text-align: center;
}

th {
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.header {
    text-align: center;
}

.total {
    font-weight: bold;
    font-style: italic;
}

g-container {
    text-align: center;
}