table {
    width: 50%;
}

td {
    text-align: center;
}

.header {
    text-align: center;
}
th {
    font-weight: bold;
    text-align: center;
}

.filter {
    margin-left: 20px;
}

.table-label {
    margin-right: 20px;
}
#test {
    margin-left: 20px;
}