<p>Display Works!</p>
<div>
    <p>Guest name: {{guestName }}</p>
</div>

<div>
    <p>Agent: {{agent }}</p>
</div>

<div>
    <p>Summary: {{summary }}</p>
</div>
<div>
    <span class="spacer">
        <a mat-raised-button
            href="https://www.google.com/search?q=monster+reservations+group&rlz=1C1CHBF_enUS922US922&oq=monster+reservations+group&aqs=chrome..69i57j46i175i199j0l6.2815j0j15&sourceid=chrome&ie=UTF-8#lrd=0x89006aa260a4385b:0x302aeaabc7f3740b,3,,,"
            target="_blank"
            rel="noopener noreferrer">Google</a>
    </span>
    <span class="spacer">
        <a mat-raised-button
            href="https://www.yelp.com/writeareview/biz/C8NtjpZbC8L-glWSUtUWfA?return_url=%2Fbiz%2FC8NtjpZbC8L-glWSUtUWfA&source=biz_details_war_button"
            target="_blank"
            rel="noopener noreferrer"
            class="spacer">Yelp</a>
    </span>
    <span class="spacer">
        <a mat-raised-button
            href="https://www.facebook.com/MRGVacations/reviews/?ref=page_internal"
            target="_blank"
            rel="noopener noreferrer"
            class="spacer">Facebook</a>
    </span>
</div>